body{
    font-family: system-ui;
}

/* From https://www.w3schools.com/css/css3_pagination.asp*/
.pagination {
  display: flex;
  justify-content: center;
  list-style: none; /* remove list bullets */
  padding: 0px;
}

.pagination li a {
  display: block; /* let links fill the list item */
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid gray;
  color: black;
  margin: 0 4px;
  border-radius: 5px; /* add rounded borders */
}

.pagination li u {
  display: block; /* let links fill the list item */
  padding: 8px 12px;
  border: 1px solid gray;
  color: black;
  margin: 0 4px;
  border-radius: 5px; /* add rounded borders */
  background-color:aquamarine ;
}